<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style>
    
    #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;
}
#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
#custom-search-input .glyphicon-search{
    font-size: 23px;
}
  </style>

  </head>
  <body>
    <h1>Portal Merit-Coin</h1>

	<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.3/firebase-messaging.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.3/firebase-database.js"></script>
	<script>
	  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyATU8O3NgExE_h6jrWjYpK2s47-YV-m1rQ",
    authDomain: "merit-95628.firebaseapp.com",
    databaseURL: "https://merit-95628.firebaseio.com",
    projectId: "merit-95628",
    storageBucket: "merit-95628.appspot.com",
    messagingSenderId: "609922366963",
    appId: "1:609922366963:web:23db734e12690b8970e686"
  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	</script>

<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful');
    }, function(err) {
      // Registration failed
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>

    <script>
      const messaging = firebase.messaging();
      messaging.requestPermission().then(function() {
        console.log('Notification permission granted.');
        return messaging.getToken();
      })
      .then(function(token) {
        console.log('TOKEN: ' + token);
        document.write('<form action="/login" method="post"><input type="hidden" name="token" value="'+token+'"><input type="submit" value="Login" <span class="glyphicon glyphicon-log-in"></span></form>');
	   })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });
    </script>	
  </body>
</html>